*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    /* padding: 30px 100px; */
    /* background-image: url(./images/illustration-devices.svg);
    background-repeat: no-repeat;
    background-size: 700px; */
}
.thing {
    /* display: flex; */
}
.thing img{
    position: absolute;
    top: 20%;
    left: 60%;
    overflow: hidden;
    width: 60%;
}
nav ul{
    display: flex;
    width: 40%;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(207, 33%, 95%);
    /* padding: 30px 30px 400px 50px */
}
nav li {
    list-style-type: none;
    color: hsl(230, 29%, 20%);
    text-transform: uppercase;
    font-weight: bold;
    /* padding: 0px 10px; */
}
.login {
    color: hsl(231, 7%, 65%);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
article{
    width: 30%;}
.top {
    display: flex;
    align-items: center;
    text-transform: uppercase;
}
strong {
    background-color: hsl(230, 29%, 20%);
    padding: 5px 10px;
    border-radius: 20px;
    color:  hsl(207, 33%, 95%);
    margin-right: 10px;
}
h3{
    letter-spacing: 5px;
    color: hsl(231, 7%, 65%);
}
h1 {
    font-size: 40px;
    text-transform: uppercase;
    margin-top: 10px;
}
.project {
    color: hsl(230, 11%, 40%);
    margin: 20px 0px;
}
.bottom {
    display: flex;
    align-items: center;
}
button{
    background-color: hsl(0, 100%, 68%);
    border: none;
    border-radius: 5px;
    padding: 10px;
    text-transform: uppercase;
    color:hsl(207, 33%, 95%) ;
    margin-right: 20px;
}
.bottom p {
    letter-spacing: 3px;
    text-transform: uppercase;
    color: hsl(231, 7%, 65%);
}